div {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
}
button{
    margin: 1px;
}
mat-card{
    width: 300px;
    margin: 0 auto 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-style: solid ;
    border-color: rgb(201, 200, 200);
    box-shadow: 4px 4px 0px rgb(158, 158, 158);
}


