<div id="wrapper">
<mat-card>
    <form (submit)="onEditWord(wordForm)" #wordForm="ngForm">
      <mat-form-field>
        <input
          matInput
          type="text"
          name="word"
          ngModel="{{ word[0]?.word }}"
          minlength="2"
          #title="ngModel">
        <!-- <mat-error *ngIf="words.invalid">Please enter a word.</mat-error> -->
      </mat-form-field>
      <br><br>
      <button
        mat-raised-button
        color="accent"
        type="submit">Save Word</button>
    </form>
  </mat-card>
</div>
  