div, h1, h4 {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.button{
    position: absolute;
    top: 50%;
}

.main-bar {
    justify-content: center;
}

button{
    margin: 1px;
}
