div, h1, h4 {
    //background-image: url(../assets/kisspng-question-mark-fractal-computer-icons-clip-art-confetti-5ace5a39c915b0.9857211715234729538237.png);
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.button{
    position: absolute;
    top: 50%;
}

.main-bar {
    justify-content: center;
}

button{
    margin: 1px;
}
