div, h1, h4 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-bar {
    justify-content: center;
    
}

button{
    margin: 1px;
    background-color:  rgba(0, 174, 255, 0.4);
    border-style: solid;
    border-color: rgb(0, 174, 255);

}
