<body>
  <br><br>
  <div id="wrapper">
    <h3>How to play</h3>
    <p>

      Gather as many people as you can to play and divide everyone up into teams.
      <br>
      The aim of the game is to explain the 5 random words that are displayed on the screen
      <br>
      However, you have only got <b>30 seconds</b> to do so!
      <br>
      Pick a person to begin and press the <b>'Start Game'</b> button
      <br>
      Once this is cliked, a timer will begin and alert you once your 30 seconds are up
      <br>
      So then you give it your best go at describing each word on the screen
      <br>
      If you don't know the word, you can always skip it and come back to it
      <br><br>

    </p>
    <h4>THE DESCRIBER CAN NOT:</h4>
    <li>
      <ul> Say the actual names on the card (but may say words like "and", "the", "on", etc)</ul>
      <ul> Use "sounds like" or "rhymes with" tactics.</ul>
      <ul>Use letters of the alphabet (may not say "starts with an A" or spell it out)</ul>
      <ul>Point to anything</ul>
    </li>

  </div>
</body>