<div id="wrapper">
<p>
    How to play:
    Divide up into teams, the number and size of teams doesn't really matter.
    <br>
    The aim of the game is to explain the 5 random words that are displayed on the screen, but you have only got 30 seconds
    to do so!
    <br>
    Pick a person to begin and press the 'Start Game' button
    <br>
    Once this is cliked, a timer will begin and alert you once your 30 seconds are up
    <br>
    Now you give it your best go at describing each word on the card
    <br>
    If you don't know the word, you can always skip it and come back to it
    <br><br>
    The describer may NOT:
  </p>
    
    <li>
      <ul> Say the actual names on the card (but may say words within the name like "and", "the", "on", etc).</ul>
      <ul> Use "sounds like" or "rhymes with" tactics.</ul>
      <ul>Use letters of the alphabet (may not say "starts with an A" or, of course, spell it out).</ul>
      <ul>Point to anything</ul>
    </li>

</div>
